{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1> Intern Project Team</h1>
                    <h3>The Sparks Foundation!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
